<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
</head>
<body style="background-color: #f6f6f6">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark" ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mr-2">
                    <img src="img/time-icon-gray.png" align="center">
                </li>
                <li class="nav-item mr-3">
                    <p class="txtForNavBar "> Пн-Пт 11:00 - 20:00  Сб: 13:00 - 20:00</p>
                </li>
                <li class="nav-item mr-2">
                    <img src="img/time-icon-gray.png">
                </li>
                <li class="nav-item mr-5">
                    <p class="txtForNavBar"> +7 (495) 989-20-11</p>
                </li>
                <li class="nav-item mr-2">
                    <img src="img/time-icon-gray.png">
                </li>
                <li class="nav-item mr-3">
                    <p class="txtForNavBarWhite">Инфо</p>
                </li>
                <li class="nav-item mr-2">
                    <img src="img/time-icon-gray.png">
                </li>
                <li class="nav-item mr-3">
                    <p class="txtForNavBarWhite">Оплата</p>
                </li>
                <li class="nav-item mr-2">
                    <img src="img/shape.png">
                </li>
                <li class="nav-item mr-3">
                    <p class="txtForNavBarWhite">Доставка</p>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-success">Вход</button>
                </li>
            </ul>

        </div>
    </nav>
    <header class="header d-flex justify-content-around align-items-center mb-3">
         @Html.Action("Menu", "Nav"),
         @Html.Action("Summary", "Cart")
    </header>
    <header class="col-md-6 col-xl-12 order-md-0 order-xl-1 mb-3">
        <div class="row">
            <div class="col-md-6 col-xl-6 d-flex justify-content-start">
                <p class="txtCatalog mr-2">Свитшоты</p>
                <p>33 товара</p>
            </div>
            <div class="col-md-6 col-xl-6 d-flex justify-content-end">

                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        По рейтингу
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Популярные</a>
                        <a class="dropdown-item" href="#">Так себе</a>
                        <a class="dropdown-item" href="#">Самовывоз</a>
                    </div>
                </div>
                <button type="button" class="btn btn-light">
                    <img src="img/17.png">
                </button>
                <button type="button" class="btn btn-light">
                    <img src="img/18.png">
                </button>
            </div>
        </div>
    </header>
    <div class="container d-flex">
        <div class="row  justify-content-between">
            <div id="categories" class="col-lg-3 col-md-4">
                @Html.Action("Menu", "Nav")
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="container">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer d-flex  align-items-center">
        <div class="container">

            <div class="row ">
                <div class="row d-flex justify-content-around">
                    <div>
                        <img src="img/LIMLOOK.png"></img>
                    </div>
                    <p class="txtForNavBarWhite">Платья и юбки</p>
                    <p class="txtForNavBarWhite">Комбинезоны</p>
                    <p class="txtForNavBarWhite">Свитшоты</p>
                    <p class="txtForNavBarWhite">Футболки</p>
                    <p class="txtForNavBarWhite">Халаты</p>
                    <p class="txtForNavBarWhite">Штаны</p>
                    <div class="mr-2">
                        <img src="img/group-22.png"></img>
                    </div>
                    <div class="mr-2">
                        <img src="img/group-24.png"></img>
                    </div>
                    <div class="mr-2">
                        <img src="img/group-23.png"></img>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>